<%-include('partials/header.ejs')%>
<div class="div1">
    <div class="div1-a">
        <img id="profile" src="photos/profilePhoto.jpg"   height="250px"  alt="profile">
       <div>
           <p id="div1-a-para">Hi there ,<br> I am <span id="neeraj-saini">Neeraj Saini</span> an A <br> <span id="mern">MERN Stack Developer</span> </p>

       </div>
    </div>
    <div class="div1-b">
        <p id="div1-a-para">About Me </p>
        <p>Hello! I'm a dedicated MERN developer with a strong foundation in building scalable web applications. Experienced in MongoDB, Express.js, React, and Node.js, I craft seamless backends and dynamic user interfaces using technologies like Tailwind CSS, Bootstrap, and SCSS/SASS.

            I enhance user experiences with jQuery and vanilla JavaScript and excel in server-side templating with EJS. Proficient in API development and Mongoose for efficient MongoDB data handling.
            
            Currently diving into data structures and algorithms in Java to deepen my programming fundamentals. In summary, my journey is marked by expertise in MERN, styling frameworks, frontend technologies, and API development, with a passion for staying at the forefront of web development advancements.</p>
    </div>
    <div class="div1-b  div1-c">
        <p id="div1-a-para div1-c-para">Contact Me</p>
        <div id="div1-c-icon">
            <a href="https://www.linkedin.com/in/neeraj-saini-34643424b"><iconify-icon icon="devicon:linkedin" width="25" height="25"></iconify-icon></a>
             <a href="https://wa.me/919950961742"><iconify-icon icon="logos:whatsapp-icon" width="25" height="25"></iconify-icon></a>
             <a href="mailto:officeneerajsaini@gmail.com"> <iconify-icon icon="skill-icons:gmail-light" width="25" height="25"></iconify-icon>  </a>
        </div>
          
        </div>
<%-include('partials/footer.ejs')%>